// .header ul, .footer ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// .header ul li, .footer ul li{
//     display: inline-block ;
// }

// .header ul li{

// }
// .footer ul li{

// }


//mixin 
@mixin inline-list{
    margin: 0;
    padding: 0;
    
    list-style: none;
    li{
        display: inline-block;
    }
}

@mixin flex-box($direction : row, $space : center) {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: $space;
    flex-direction: $direction;
}
.header ul {
    @include inline-list()
    li{
        background-color: orange ;        padding : 5px;
        a {
            color : green;
        }

    }
}
.footer ul{
    @include inline-list()
    li{
        padding : 0.5em;
        background-color : blue;
        a {
            color : white;
            text-decoration: none;
        }
    }
}

//argument mixin
.container{
    @include flex-box(row-reverse, space-around );
    width: 600px;
    height: 400px;
    background-color: salmon;
    .box{
        width: 60px;
        height: 60px;
        background-color: greenyellow;
        text-align: center;
        line-height: 60px;
    }
}